:root{
    --color-azulado: #518edd62;
  --color-principal: #21b6a8;
  --altura-cabecera-pie-xs: 60px;
  --altura-cabecera-pie-md: 75px;
  --color-blanco: #fff;
  --color-negro: #000;
}
.imagen{
margin-top: 2px;
height: 300px;
border-bottom: 1px solid var(--color-principal);
};
.datos{
margin: 2px;
border: 1px solid var(--color-principal);
};
.descripcion{
margin: 2px;
border: 1px solid var(--color-principal);
};
.mapa{
margin: 2px;
border: 1px solid var(--color-principal);
};
